.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  color: white;
  gap: 1.5em;
  border-bottom: 1px solid white;
  padding: 1em 0em;
}
.hamburger {
  display: none;
}
.site-nav-title {
  font-size: 1.8em;
  color: inherit;
  display: flex;
  gap: 0.3em;
  align-items: center;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.site-nav-search {
  padding: 0.3em;
  border-radius: 1em;
  font-size: 1em;
  outline: none;
  flex-grow: 1;
}

.search-icon {
  right: 0.3em;
  position: absolute;
  color: black;
  font-size: 1.3em;
}
.site-nav .main-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.site-nav .main-nav-closed {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.site-nav ul a {
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.link-icon {
  margin-right: 0.3em;
}

/* active li styles */
.site-nav li.active {
  background-color: gray;
}

.site-nav li:hover {
  background-color: gray;
}

/* Responsive */

@media (max-width: 1110px) {
  .site-nav {
    justify-content: start;
  }
  .site-nav .links-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: end;
    z-index: 99;
  }
  .hamburger span {
    transition: transform 0.3s ease;
  }
  .hamburger .middle {
    opacity: 10;
  }
  .hamburger-close .top {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .hamburger-close .bot {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .links-container .main-nav-closed {
    position: absolute;
    flex-direction: column;
    background-color: gray;
    right: 0;
    top: 2em;
    transform: translateX(200px);
    opacity: 0;
  }
  .hamburger-close {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: end;
    z-index: 99;
  }
  .hamburger-close span {
    transition: transform 0.3s ease;
  }

  .hamburger-close .middle {
    opacity: 0;
  }
  .hamburger-close .top {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .hamburger-close .bot {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .hamburger-close span {
    height: 5px;
    width: 30px;
    background-color: #bbb;
  }
  .hamburger span {
    height: 5px;
    width: 30px;
    background-color: #bbb;
  }

  .site-nav .main-nav {
    position: absolute;
    flex-direction: column;
    background-color: gray;
    right: 0;
    top: 2em;
    transform: translateX(30px);
    transition: transform 1.3s ease;
    opacity: 10;
  }

  .site-nav .site-nav-title {
    align-self: flex-start;
  }
}
